<div class="hero">
  <div class="hero__content">
    <div class="hero__logo">
      <%= image_tag "logo.png" %>
    </div>
    <ul class="hero__links">
      <li><a href="https://www.meetup.com/south-west-ruby/">Meetup</a></li>
      <li><a href="https://twitter.com/southwestruby/">Twitter</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Threads</a></li>
      <li><a href="https://github.com/south-west-ruby">Github</a></li>
    </ul>
  </div>
</div>
